[submodule "Authentication-Service"]
	path = Authentication-Service
	url = https://github.com/CountryBoy0ner/Authentication-Service.git
	branch = develop
[submodule "User-Service"]
	path = User-Service
	url = https://github.com/CountryBoy0ner/User-Service.git
	branch = develop
[submodule "Order-Service"]
	path = Order-Service
	url = https://github.com/CountryBoy0ner/Order-Service.git
	branch = develop
[submodule "API-Gateway"]
	path = API-Gateway
	url = https://github.com/CountryBoy0ner/API-Gateway.git
	branch = develop
[submodule "Payment-Service"]
	path = Payment-Service
	url = https://github.com/CountryBoy0ner/Payment-Service.git
