apiVersion: v1
kind: Service
metadata:
  name: kafka
  labels:
    app: kafka
spec:
  type: ClusterIP
  selector:
    app: kafka
  ports:
    - name: broker
      port: 9092
      targetPort: 9092
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
  labels:
    app: kafka
spec:
  serviceName: kafka
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      enableServiceLinks: false

      securityContext:
        fsGroup: 1000

      initContainers:
        - name: wait-for-zk
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              until nc -z zookeeper 2181; do echo waiting for zookeeper; sleep 2; done

        - name: fix-permissions
          image: busybox:1.36
          securityContext:
            runAsUser: 0
          command:
            - sh
            - -c
            - |
              mkdir -p /var/lib/kafka/data
              chown -R 1000:1000 /var/lib/kafka
          volumeMounts:
            - name: data
              mountPath: /var/lib/kafka/data

      containers:
        - name: kafka
          image: confluentinc/cp-kafka:7.6.1
          ports:
            - containerPort: 9092
              name: broker
          env:
            - name: KAFKA_BROKER_ID
              value: "1"
            - name: KAFKA_ZOOKEEPER_CONNECT
              value: "zookeeper:2181"

            - name: KAFKA_LISTENERS
              value: "PLAINTEXT://0.0.0.0:9092"
            - name: KAFKA_ADVERTISED_LISTENERS
              value: "PLAINTEXT://kafka:9092"
            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: "PLAINTEXT:PLAINTEXT"
            - name: KAFKA_INTER_BROKER_LISTENER_NAME
              value: "PLAINTEXT"

            - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
              value: "1"
            - name: KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
              value: "1"
            - name: KAFKA_TRANSACTION_STATE_LOG_MIN_ISR
              value: "1"
            - name: KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS
              value: "0"
            - name: KAFKA_AUTO_CREATE_TOPICS_ENABLE
              value: "true"

            - name: KAFKA_HEAP_OPTS
              value: "-Xms256m -Xmx256m"

          volumeMounts:
            - name: data
              mountPath: /var/lib/kafka/data

      volumes:
        - name: data
          emptyDir: {}
