apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  labels:
    app: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      initContainers:
        - name: wait-for-auth-db
          image: busybox:1.36
          command: ["sh", "-c", "until nc -z auth-db 5432; do echo waiting for auth-db; sleep 2; done"]
      containers:
        - name: auth-service
          image: auth-service:dev
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8082

          env:
            - name: DB_URL
              value: "jdbc:postgresql://auth-db:5432/auth_service"

            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: auth-db-secret
                  key: DB_USERNAME

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: auth-db-secret
                  key: DB_PASSWORD

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_SECRET

            # user-service позже поднимем; пока оставляем k8s DNS
            - name: USER_SERVICE_URL
              value: "http://user-service:8080"

          # Если ты добавишь actuator в auth-service — оставляй HTTP probes:
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8082
            initialDelaySeconds: 10
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8082
            initialDelaySeconds: 30
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  labels:
    app: auth-service
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
    - name: http
      port: 8082
      targetPort: 8082
