apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  labels:
    app: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      initContainers:
        - name: wait-for-deps
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              set -e
              DB_HOST="order-db.default.svc.cluster.local"
              KAFKA_HOST="kafka.default.svc.cluster.local"
              
              until nc -z -w 2 "$DB_HOST" 5432; do echo "waiting for $DB_HOST:5432"; sleep 2; done
              until nc -z -w 2 "$KAFKA_HOST" 9092; do echo "waiting for $KAFKA_HOST:9092"; sleep 2; done

      containers:
        - name: order-service
          image: ghcr.io/countryboy0ner/order-service-order-service:develop
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8083
          env:
            - name: DB_URL
              value: "jdbc:postgresql://order-db:5432/order_service"
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: order-db-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: order-db-secret
                  key: DB_PASSWORD

            - name: USER_SERVICE_BASE_URL
              value: "http://user-service:8080/api/users"

            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "kafka:9092"

            - name: APP_KAFKA_TOPICS_CREATE_ORDER
              value: "create-order"
            - name: APP_KAFKA_TOPICS_CREATE_PAYMENT
              value: "create-payment"

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8083
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8083
            initialDelaySeconds: 30
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  labels:
    app: order-service
spec:
  type: ClusterIP
  selector:
    app: order-service
  ports:
    - name: http
      port: 8083
      targetPort: 8083
