apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  labels:
    app: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      initContainers:
        - name: wait-for-deps
          image: busybox:1.36
          command:
            - sh
            - -c
            - >
              until nc -z user-postgres 5432; do echo waiting for user-postgres; sleep 2; done;
              until nc -z user-redis 6379; do echo waiting for user-redis; sleep 2; done
      containers:
        - name: user-service
          image: ghcr.io/countryboy0ner/user-service-user-service:develop
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8080
          env:
            - name: SERVER_PORT
              value: "8080"

            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://user-postgres:5432/user_service"
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: user-db-secret
                  key: DB_USERNAME
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: user-db-secret
                  key: DB_PASSWORD

            - name: SPRING_DATA_REDIS_HOST
              value: "user-redis"
            - name: SPRING_DATA_REDIS_PORT
              value: "6379"

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  labels:
    app: user-service
spec:
  type: ClusterIP
  selector:
    app: user-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
